.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.menu3{
    display: none;
}
@media (max-width: 991px) { // vista web
    .menu2{
        display: none;
    }
    .menu3{
        display: block;
    }
}