// --- Searchbar ---------------
    .searchbar {
        width: 90%;
        left: 5%;
    }
    .user-menu {
        font-size: large;
        margin: -3px 0.35em 0 0;
    }
    /* .user-menu0 {
        text-transform: none !important;
        --background: #424242;
        --background-hover: #505050;
    } */
    .user-menu0{
        text-transform: none !important;
        // display: inline-block;
        // text-decoration: none;
        // color: rgba(152, 152, 152, 0.43);/*IconColor*/
        // // width: 80px;
        // // height: 80px;
        // // line-height: 80px;
        // // font-size: 40px;
        // // border-radius: 50%;
        // text-align: center;
        // vertical-align: middle;
        // overflow: hidden;
        // font-weight: bold;
        // --background: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
        // --background: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
        --background-hover: #d6d6d6;
        // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
        // box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
        // border-bottom: solid 2px #b5b5b5;
        --background: white;
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
        color: #91CCC2;
        transition:.3s;
    }
    // .user-menu0 .fa {
    //     line-height: 80px;
    // }
    .user-menu0:active {/*onClick*/
        --background: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
        border-bottom: none;
    }
    .user-opt {
        color: rgba(255,255,255,.47);
    }
// --- table -------------------
    ion-avatar {
        width: 2.3em;
        height: 2.3em;
        margin: 0 1em 0 0;
    }
    .example-viewport {
        height: 0px;
        width: 100%;
        // border: 1px solid black;
    }
    .example-item {
        height: auto;
    }
    .example-card{
        height: 6em;
        margin: 5px 0 0 0;
    }
    .mat-card-avatar {
        height: 3.3em;
        width: 4em;
    }
    table {
        width: 100%;
    }
    .mat-form-field, mat-paginator {
        font-size: 14px;
        width: 100%;
    }
    td, th {
        word-break: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 1% 0 1% !important;
    }
    .check {
        width: 8%;
    }
    .foto {
        padding-right: 15px !important;
        padding-left: 24px !important;
        max-width: 20px;
    }
    .nombre {
        max-width: 140px;
    }
    .email {
        max-width: 160px;
    }
    .cargo {
        max-width: 50px;
    }
    .telefono {
        max-width: 80px;;
    }
    .filtro {
        color: #212121 !important;
    }
    .mat-card-header .mat-card-title {
        font-size: 1em;
        word-break: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // padding: 0 5% 0 0% !important;
    }
    .image {
        margin: 0 -20px 0 -5px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
    }
    .vmedio {
        align-self: center;
        padding: 0 1em 0 0;
        width: 3em;
        min-width: 3em;
    }
    @media (min-width: 991px) { // vista web
        .mat-card-avatar {
            height: 3em;
            width: 3em;
        }
    }
    // @media (min-width: 791px) { // vista web
    //     .telefono, .email {
    //         display: none;
    //     }
    // }
// --- tree --------------------
    .example-tree-invisible {
        display: none;
    }
    .example-tree ul,
    .example-tree li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    .androidView{
        display: none;
    }
    .tabletView{
        display: none;
    }
    .desktopView{
        display: block;
    }
    .mat-nested-tree-node, .mat-tree-node {
        font-size: 1em;
    }
    .user-lista {
        margin: -0.75em 0 0 0;
    }
    @media only screen and (min-width: 4000px) { // vista web
        .desktopView{
            display: block;
        }
        .tabletView{
            display: none;
        }
        .androidView{
            display: none;
        }
    }
    @media only screen and (max-width: 900px) { // vista web
        .desktopView{
            display: none;
        }
        .tabletView{
            display: block;
        }
        .androidView{
            display: none;
        }
    }
    @media only screen and (max-width: 500px) { // vista tablet
        .tabletView{
            display: none;
        }
        .androidView{
            display: block;
        }
    }
// -----------------------------