<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button tab="inicio">
  <ion-icon name="paper"></ion-icon>
  <ion-label>inicio</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="page2">
  <ion-icon name="send"></ion-icon>
  <ion-label>page2</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="page3">
  <ion-icon name="notifications"></ion-icon>
  <ion-label>Contact</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="page4">
  <ion-icon name="cog"></ion-icon>
  <ion-label>page4</ion-label>
  </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>