.sede {
    width: fit-content;
    display: inline-flex;
}
.sede-example-card {
    width: fit-content;
}
.example-full-width {
    width: 27ch
}
.mat-card-avatar {
    height: auto;
    width: -webkit-fill-available;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    margin: 0;
}
.fulltext {
    width: -webkit-fill-available;
}
.accordion {
    margin: 1em 0 1em 0;
}
.avatar-img{
    border-radius: 50%;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
.user-data {
    // margin: 1em 0 0 0;
}
.panel-description {
    margin: 0;
}
@media (max-width: 1250px) { // vista web
    .example-full-width {
        width: 24ch
    }
}
@media (max-width: 1180px) { // vista web
    .example-full-width {
        width: 22ch
    }
}
@media (max-width: 1100px) { // vista web
    .example-full-width {
        width: 20ch
    }
}
@media (max-width: 1040px) { // vista web
    .example-full-width {
        width: 18ch
    }
}
@media (max-width: 990px) { // vista web
    .example-full-width {
        width: 30ch
    }
}
@media (max-width: 791px) { // vista web
    .panel-description {
        font-size: 0.9em;
    }
}
@media (max-width: 591px) { // vista web
    .panel-description {
        font-size: 0.8em;
    }
}
@media (max-width: 576px) { // vista movil
    .sede {
        width: 100%;
        display: inline;
    }
    .sede-example-card {
        width: 100%;
    }
    .example-full-width {
        width: -webkit-fill-available;
    }
}
@media (max-width: 491px) { // vista movil
    .panel-description {
        color: transparent;
        font-size: 0.1px;
    }
    .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
        flex-grow: 3;
        margin: 0;
    }
}